# Maven target directory
/target/

# IntelliJ IDEA project files
/.idea/
/*.iml

# Logs
*.log

# Temporary files
*.tmp

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# OS-specific files
.DS_Store
Thumbs.db